@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbe5ff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fbe5ff;
  }
}

body {
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 3rem 2rem;
  box-sizing: border-box;
}

.card-img {
  background-image: url("./assets/lamps.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* mobile version */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 3rem 1rem;
    box-sizing: border-box;
  }
}
